<mat-toolbar color="primary">
  <mat-toolbar-row>

    <img class="space" src="../../assets/images/arundeva4.jpg" title="Arundeva" alt="Arundeva Nandy">
    <span  >Arundeva Nandy App </span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>

    <button mat-raised-button class="btn-space" (click)="signUp()" >Sign Up </button>
    <button mat-raised-button class="btn-space" (click)="signIn()" >Sign In</button>
    <button mat-raised-button class="btn-space">About</button>
    <button mat-raised-button class="btn-space">Contact</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>


      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<ng-marquee>
  <h1><mark>Welcome To Our App <a href="https://www.adsmartvision.com" target="__blank"> https://www.adsmartvision.com/ (ArundevaNandy)</a></mark></h1>
</ng-marquee>